:root{
  --dark-color: #19283F;
  --green-color: #33D1CC;
  --red-color: #ff3150;
  --yellow-color: #FFC400;
  --section-color: #E3F7Fa;
  --mTransition: .3s;
}
body{
  font-family: "Roboto", sans-serif;
}
.main-btn{
  background-color: var(--red-color);
  color: var(--yellow-color)
}
.main-btn:hover,
.main-btn:focus{
  color: var(--yellow-color) !important;
}
.main-heading::after{
  content: "";
  position: absolute;
  width: 120px;
  height: 2px;
  background-color: var(--green-color);
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
}
.main-heading img{
  height: 100px;
}
/* start navbar */
.navbar{
  background-color: var(--dark-color);
}
.navbar img{
  width: 120px;
  transform: translateX(-15px)
}
.navbar .navbar-toggler{
  border: 1px solid #fff;
  color: #fff;
  transition: var(--mTransition)
}
.navbar .navbar-toggler:focus{
  box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"] {
  border-color: var(--green-color);
  color: var(--green-color);
}
.navbar .navbar-nav .nav-link{
  color: #fff;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus{
  color: var(--green-color);
}
.navbar .search {
  border-left: 1px solid var(--green-color);
}
.navbar .search svg {
  color: var(--green-color);
}
/* end navbar */
/* start landing */
.landing{
  background-color: var(--dark-color);
  min-height: calc(100vh - 71px)
}
/* end landing */
/* start features */
.features .icon-holder{
  height: 200px
}
.features .icon-holder svg{
  transform: translateX(-50%);
  left: 50%
}
.features .icon-holder .number{
  font-size: 12rem;
  color: var(--section-color);
}
.features .icon-holder .icon{
  color: var(--green-color);
}
.features .feat h4{
  color: var(--yellow-color);
}
/* end features */
/* start our-work */
.our-work{
  background-color: var(--section-color)
}
.our-work ul .active{
  background-color: var(--red-color);
  color: var(--yellow-color);
}
.our-work ul li{
  transition: var(--mTransition);
  cursor: pointer
}
.our-work ul li:not(.active):hover{
  color: var(--red-color);
}
.our-work .box {
  padding: 5px;
  overflow: hidden;
  position: relative;
}
.our-work .box::before {
  content: attr(data-text);
  position: absolute;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background-color: rgb(51, 209, 204,.76);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  transition: var(--mTransition);
  text-transform: capitalize;
  font-size: 1.5rem;
  transform: translateX(calc(-100% - 5px))
}
.our-work .box:hover::before {
  transform: translateX(0)
}
/* end our-work */
/* start stuff */
.stuff .container > p{
  max-width: 500px;
}
/* end stuff */
/* sta team */
.team{
  background-color: var(--section-color)
}
.team h2{
  color: var(--yellow-color)
}
.team p {
  max-width: 500px;
}
.team .row .box{
  background-color: #fff
}
.team .row .box img{
  width: 100%
}
.team .row .box h4{
  background-color: var(--green-color)
}
/* end team */
/* start techs */
.techs .box img{
  height: 60px;
  opacity: .3;
}
/* end techs */
/* project */
.proj{
  background-color: var(--dark-color)
}
/* end project */
.blog{
  background-color: var(--section-color)
}
/* end blog */
.subscribe{
  background-color: var(--yellow-color);
}
.subscribe h3{
  color: var(--dark-color);
}
.subscribe input[type="text"]{
  border: none;
  border-bottom: 2px solid #fff;
}
.subscribe input[type="text"]:focus{
  outline: none
}
.subscribe ::placeholder {
  color: #fff
}
.subscribe input[type="submit"]{
  background-color: var(--dark-color);
  color: var(--yellow-color)
}
/* end subscribe */
.footer{
  background-color: var(--dark-color)
}
.footer img{
  width: 170px;
  position: relative;
  left: -25px
}
@media (max-width: 767px) {
  .footer img{
    left: 0;
  }
}
.footer .copyright> span{
  color: var(--green-color);
}
.footer .copyright div span{
  color: var(--yellow-color);
}
.footer .contact svg{
  height: 25px;
  width: 25px;
}
.footer .contact .face{
  background-color: #1877F2
}
.footer .contact .twit{
  background-color: #1DA1F2
}
.footer .contact .linkedin{
  background-color: #0077B5
}
.footer .contact .yout{
  background-color: #ff0000
}
/* end footer */
